/* Initialisation */

:root {
    --success: #3A5C;
    --danger: #C33C;
    --info: #80808080;
    --text: white;
    --text-soft: #999;
    --background: black;
    --background-soft: #222;
    --tag: #4e4b5d;
    --shadow: #0005;

    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Open Sans";
    src: url(../../public/fonts/open_sans.ttf);
}

/* General */

body {
    background-color: var(--background);
    background-repeat: repeat;
    background-attachment: fixed;
    color: var(--text);
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: var(--text);
    margin-top: 20px;
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.section-container {
    display: flex;
}

.article-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-row-container {
    width: 99%;
    margin-left: 1%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.article-row-container.fo {
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

.article-list-container {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid white;
}

.article-list-container table {
    width: 90%;
    margin: 5%;
    table-layout: fixed;
}

.article-list-container table tr {
    height: 35px;
}

.article-list-container table tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Separators */

.text-hr {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid var(--text);
    line-height: 0em;
    margin: 25px 0 25px 0;
}

.text-hr span {
    background: var(--background);
    padding: 0 10px;
}

.text-hr span::before, .text-hr span::after {
    content: " • ";
}

/* Buttons */

.btn-success, .btn-danger, .btn-info {
    border: 1px white solid;
    color: var(--text);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px;
    cursor: pointer;
}

.btn-success {
    background-color: var(--success);
}

.btn-danger {
    background-color: var(--danger);
}

.btn-info {
    background-color: var(--info);
}

.btn-big {
    background-color: var(--background);
    color: var(--text);
    border: solid 1px white;
    font-size: 1.1em;
    transition: all 0.3s;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    cursor: pointer;
}

.btn-big:active, .btn-big:disabled {
    background-color: var(--text);
    color: var(--background);
}

/* Filters */

.filter-container {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 99%;
    margin-left: 1%;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.filter-container.fo {
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

.filter-element {
    margin: 5px;
    padding: 2px 5px;
    border-radius: 7px;
    background: var(--background-soft);
    color: var(--text);
    border: 1px solid white;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
}

.filter-element.active {
    background: var(--text);
    color: var(--background);
    white-space: nowrap;
}

.filter-cross {
    margin-top: 7px;
    color: var(--text);
    cursor: pointer;
}

/* Cocktail & Stock */

.cocktail-container, .stock-container, .user-container, .recipe-container {
    margin: 10px;
    text-align: center;
    border: 1px solid var(--text);
    padding: 3px;
    background-color: var(--background-soft);
    cursor: pointer;
}

.stock-container, .user-container {
    margin: 5px;
}

.user-container {
    width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cocktail-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.stock-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cocktail-name, .stock-name, .user-name {
    margin: 0 2px 2px 2px;
    font-size: 1.1em;
    color: var(--text);
    overflow: hidden;    
}

.cocktail-name, .stock-name {
    white-space: nowrap;
    text-overflow: clip;
}

.stock-name {
    max-width: 95px;
    font-size: 1em;
}

p.cocktail-name, p.stock-name {
    font-size: 0.8em;
}

.cocktail-image-wrapper {
    position: relative;
    display: inline-block;
}

.cocktail-spirit, .stock-spirit, .stock-tag {
    position: absolute;
    top: -8px;
    right: 5px;
    font-size: 0.8em;
    padding: 2px 7px;
    border-radius: 7px;
    background-color: var(--tag);
    color: white;
    box-shadow: 0 0 5px var(--shadow);
}

.stock-tag {
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

/* Users */

.user-list {
    width: 100%;
    border-top: 1px solid var(--background-soft);
    border-bottom: 1px solid var(--background-soft);
    display: flex;
    align-items: center;
}

.user-list-infos {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.user-list-infos.opened {
    max-height: 300px;
    overflow-y: auto;
}

.user-purchase-refunded {
    color: var(--text-soft);
}

/* Recipes */

.recipe-container {
    display: flex;
    flex-direction: row;
}

.recipe-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.recipe-column {
    display: flex;
    flex-direction: column;
}

.recipe-column > * {
    margin: 3px;
}

.recipe-input {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 3px;
    cursor: pointer;
    padding: 3px;
    font-size: 1.05em;
    width: 90%;
    border: 1px white solid;
    color: var(--background);
}

/* Toggleswitches */

.toggleswitch {
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 28px;
    outline: none;
    transition: background-color 0.3s;
    background-color: var(--background-soft) !important;
    border: solid 1px white !important;
}

.toggleswitch:checked {
    background-color: var(--success)!important;
}

.toggleswitch:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background-color: white;
    border-width: 0px;
    transition: transform 0.3s, background-color 0.3s;
}

.toggleswitch:checked:before {
    transform: translateX(22px);
}

.toggleswitch:disabled {
    background-color: var(--background-soft)!important;
}

/* Toolbar */

.bottom-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--background-soft);
    box-shadow: 0 0 5px var(--shadow);
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
}

.toolbar-button {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    background: var(--background);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.toolbar-button.active {
    color: var(--background);
    background: var(--text);
}

.toolbar-space {
    height: 70px;
}

/* Modals */

.modal {
    background: var(--background-soft);
    color: var(--text);
    padding: 20px;
    border: 1px solid var(--text);
    width: 400px;
    max-width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-button, .text-input {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 5%;
    cursor: pointer;
    border: 1px solid var(--text);
    padding: 3px 0;
    font-size: 1.1em;
    width: 90%;
}

.text-input {
    border: 1px white solid;
    color: var(--background);
}

.no-scroll {
    overflow: hidden;
}