/* Initialisation */

:root {
    --success: #3A5C;
    --danger: #C33C;
    --info: #80808080;
    --text: white;
    --text-soft: #EEE;
    --background: black;
    --background-soft: #222;
    --tag: #4e4b5d;
    --shadow: #0005;
}

/* General */

body {
    background-color: var(--background);
    background-repeat: repeat;
    background-attachment: fixed;
    color: var(--text);
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: var(--text);
    margin-top: 20px;
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.article-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-row-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Separators */

.text-hr {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid var(--text);
    line-height: 0em;
    margin: 25px 0 25px 0;
}

.text-hr span {
    background: var(--background);
    padding: 0 10px;
}

.text-hr span::before, .text-hr span::after {
    content: " • ";
}

/* Buttons */

.btn-success {
    background-color: var(--success);
}

.btn-danger {
    background-color: var(--danger);
}

.btn-info {
    background-color: var(--info);
}

/* Cocktail & Stock */

.cocktail-container, .stock-container {
    margin: 10px;
    text-align: center;
    border: 1px solid var(--text);
    padding: 3px;
    background-color: var(--background-soft);
}

.stock-container {
    margin: 5px;
    position: relative;
    display: inline-block;
}
  
.cocktail-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.stock-image {
    width: 100px;
    height: 120px;
    object-fit: cover;
}

.cocktail-name, .stock-name {
    margin: 0 2px 2px 2px;
    font-size: 1.1em;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.stock-name {
    max-width: 95px;  
}

.cocktail-image-wrapper {
    position: relative;
    display: inline-block;
}

.cocktail-spirit, .stock-spirit, .stock-tag {
    position: absolute;
    top: -8px;
    right: 5px;
    font-size: 0.8em;
    padding: 2px 7px;
    border-radius: 7px;
    background-color: var(--tag);
    color: white;
    box-shadow: 0 0 5px var(--shadow);
}

.stock-tag {
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

/* Modals */

.modal {
    background: var(--background-soft);
    color: var(--text);
    padding: 20px;
    border: 1px solid var(--text);
    width: 400px;
    max-width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-button {
    text-align: center;
    margin-block-end: 0;
    cursor: pointer;
    border: 1px solid var(--text);
    padding: 2px;
}

.modal-input {
    text-align: center;
    border: 1px solid var(--text);
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.no-scroll {
    overflow: hidden;
}